/* swiper1--------------------------------------------------------------------------------------------------*/
.swiper {
  width: 600px;
  height: 300px;
}

.swiper-img {
  max-width: 100%;
  height: auto;
  
}




/* swiper2--------------------------------------------------------------------------------------------------*/

.swiper2 {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 40%;
  top: 40%; 
  /* margin-left: -150px;
  margin-top: -150px; */
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}